<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Project Selection
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-8>
      <ion-item>
        <ion-input type="text" [(ngModel)]="newItem.name" placeholder="Project Name"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-2>
      <button ion-button (click)="addItem()">Add Project</button>
    </ion-col>
  </ion-row>

  <ion-list>
    <!--<ion-item-sliding *ngFor="let item of items | async" (click)="itemTapped($event, item)">-->
    <ion-item *ngFor="let project of projects | async">

        {{ project.name }}
        <div item-end>
        <ion-buttons end>
          <button ion-button end color="danger" icon-only (click)="removeItem(project)"><ion-icon name="trash"></ion-icon></button>
          <button ion-button end color="secondary" icon-only (click)="goCritPath($event, project)"><ion-icon name="md-eye"></ion-icon></button>
          <button ion-button end color="primary" icon-only (click)="itemTapped($event, project)"><ion-icon name="ios-create"></ion-icon></button>
        </ion-buttons>
        </div>
    </ion-item>
  </ion-list>
</ion-content>
